body {
    background: #414141;
    color: #dfdfdf;
    font-family: verdana, tahoma, geneva, sans-serif;
    font-size: 10pt;
}

#header {
    background: url(../img/header-bg.png);
    width: 100%;
    height: 80px;
    border-bottom: #292929 1px solid;
}

#header h1 {
    background: url(../img/title.png);
    position: relative;
    top: 13px;
    left: 11px;
    height: 47px;
    width: 220px;
}

#header h1 span {
    display: none;
}

ul#tabs {
    border-top: #393939 1px solid;
    padding-left: 4px;
}

ul#tabs li {
    color: #999999;
    background: #1f1f1f;
    font-family: verdana, geneva, sans-serif;
    font-size: 10pt;
    list-style: none outside;

    border: 1px solid #383838;
    border-top: 1px solid #232323;

    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-radius-bottom-left: 7px;
    -webkit-border-radius-bottom-right: 7px;

    float: left;
    margin-top: -2px;
    margin-left: 4px;
    padding: 10px;
    padding-top: 5px;
}

ul#tabs li a {
    text-decoration: none;
    color: #999999;
}

ul#tabs li.current {
    background: #141414;
    border-top: 2px solid #141414;
    padding-top: 4px;
}

ul#tabs li.current a {
    color: #dddddd;
    font-weight: bold;
}

#content h1 {
    color: #ffffff;
    background-color: #323232;
    background: url(../img/sub-header-bg.png);
    font-family: tahoma, geneva, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    height: 28px;
    margin-top: 0px; 
    margin-bottom: 8pt;
    padding: 34px 12px 0 12px;
    border-bottom: 1px solid #454545;
}

#content p, dt, dd, li {
    max-width: 56em;
}

p {
    margin-bottom: 0.8em;
    clear: both;
    padding-left: 15px;
    line-height: 125%;
    text-align: left;
}

a {
    color: #ffffff;
}

em {
    font-style: italic;
}


h2 {
    padding-left: 15px;
    font-size: 12pt;
    font-family: tahoma, geneva, sans-serif;
    font-weight: bold;
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    color: white;
}

img.diagram {
    margin: 1em;
}

#content ul li {
    background: url(../img/bullet.png) no-repeat 0px 3px;
    margin: 0.5em 0em 0.5em 1.5em;
    padding-left: 15px;
}

#content ul {
    margin-bottom: 1em;
}

dl {
    margin-top: 1.5em;
    margin-bottom: 2em;
    padding-left: 2em;
}

dl dt {
    margin-bottom: 0.5em;
}

dl dd {
    margin-bottom: 1em;
}

.keys dt code {
    color: #66eeaa;
    padding-right: 3px;
}

#api h2 {
    font-family: arial;
    font-size: 16pt;
    margin: 1em 0 1em 0.5em;
}

#api h3 {
    padding-left: 30px;
    font-size: 10pt;
    font-family: tahoma, geneva, sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: white;
}

#api h4 {
    padding-left: 30px;
    font-size: 10pt;
    margin-bottom: 0.5em;
    color: white;
}

#api p {
    margin: 0.5em 0 1.5em;
    padding-left: 35px;
}

#api hr {
    margin-bottom: 1em;
    margin-left: 40px;
    width: 80%;
}
