body {
    background: #3f3f3f;
    color: #dddddd;
    font-family: arial, helvetica, sans-serif;
}

#header {
    background: url(../img/header-bg.png);
    width: 100%;
    height: 80px;
    border-bottom: #2b2b2b 1px solid;
}

#header h1 {
    background: url(../img/title.png);
    position: relative;
    top: 13px;
    left: 11px;
    height: 47px;
    width: 220px;
}

#header h1 span {
    display: none;
}

ul#tabs {
    border-top: #454545 1px solid;
    padding-left: 4px;
}

ul#tabs li {
    color: #999999;
    background: #202020;
    font-family: verdana, geneva, sans-serif;
    font-size: 10pt;

    border: 1px solid #484848;
    border-top: none;

    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-radius-bottom-left: 7px;
    -webkit-border-radius-bottom-right: 7px;

    float: left;
    margin-top: -1px;
    margin-left: 4px;
    padding: 10px;
    padding-top: 5px;
}

ul#tabs li.current {
    color: #dddddd;
    background: #141414;
    border-top: 2px solid #141414;
    font-weight: bold;

    margin-top: -2px;
    padding-top: 4px;
}

h2 {
    color: #eeeeee;
    font-size: 15pt;
    font-family: tahoma, geneva, sans-serif;
    letter-spacing: 0.5pt;
    margin-top: 2pt;
    margin-bottom: 10pt;
}

#content {
    font-size: 11pt;
    clear: both;
    padding-top: 10px;
    padding-left: 10px;
}

#content h2 {
    background: #343434;
    margin-left: -10px;
    padding-left: 10px;
    padding-top: 6pt;
    padding-bottom: 6pt;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
}

pre.code {
    background: #151515;
    font-family: monospace;
    font-size: 10pt;
    line-height: 140%;

    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-radius-top-left: 15px;
    -webkit-border-radius-bottom-right: 15px;

    display: block;
    width: 40em;
    padding: 15px;
    margin: 13pt;
}
